asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
psycopg2-binary==2.9.9
redis==5.0.1
celery==5.3.4
requests==2.31.0
django-celery-results==2.5.1
ollama==0.1.6
pyspark==3.5.0
pandas==2.2.0
matplotlib==3.8.2
django-redis==5.4.0
